<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div>
      <h2>Player Status - Game 1</h2>
      <a [routerLink]="['/players','status','1']">Game1</a> | 
      <a [routerLink]="['/players','status','2']">Game2</a> | 
      <a [routerLink]="['/players','status','3']">Game3</a>
  </div>
  <p>You reached game</p>
  <div>
      <table>
        <tr style='border : 2px solid blue'>
          <th>Player name</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor='let player of playerlist; let idx = index'>
          <td>{{player.name}}</td>
          <td>
            <button (click)="changeColor(1,player)" [ngClass]="{green: player.action === 'Playing'}" >Playing</button>
            <button (click)='changeColor(2,player)' [ngClass]="{red: player.action === 'NotPlaying'}">NotPlaying</button>
            <button (click)='changeColor(3,player)' [ngClass]="{yellow: player.action === 'Undecided'}">Undecided</button>
          </td>
        </tr>
      </table>
    </div>  
</body>
</html>